:root {
    --black: #1b2423;
    --pink: #fac7e2;
    font-family: "Roboto", serif;
    font-style: normal;
}

body {
    background-image: url("../../images/background.png");
    margin: 0;
}

img:hover {
    animation: wiggle 700ms ease-in-out 1;
}

@keyframes wiggle {
    0% { transform: rotate(10deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(20deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

/* Fonts */
.playfair-title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.03em;
}
.playfair-i {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}
.fauna-one {
    font-family: "Fauna One", serif;
    font-weight: 400;
    font-style: normal;
  }


/* Default styles (small screens) */
#homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-image-link {
    width: 60vw;
    padding-top: 5%;
    padding-bottom: 5%;
}

.header-container {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--pink);
    border: solid 2px var(--black);
    height: 5%; /* Changed from vw for better scaling */
    padding: 0.5%;
}

.header-button-container {
    display: flex;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.wavy-box {
    --s: 4.5vw;  /* control the size of the wave */
    --h: 50%;
    width: calc(4*4*var(--s));
    height: calc(var(--h)*4*var(--s));
    aspect-ratio: 0.5;
    object-fit: cover;
    padding: var(--s);
    border: var(--s) solid #0000;
    background: var(--pink);
    border-radius: calc(3.5*var(--s)); 
    mask: 
      radial-gradient(calc(sqrt(2)*var(--s)),#000 calc(100% - 1px),#0000),
      conic-gradient(#000 0 0) content-box,
      radial-gradient(calc(sqrt(2)*var(--s)),#0000 100%,#000 calc(100% + 1px)) 
       var(--s) var(--s) padding-box;
    mask-size: calc(var(--s)*4) calc(var(--s)*4);
  }

/* Large screens (override small-screen styles) */
@media (min-width: 768px) {
    #homepage-container {
        display: grid;
        grid-template-columns: repeat(20, 5% [col-start]);
        grid-template-rows: repeat(20, 5vh [col-start]);
    }

    .homepage-image-link {
        width: 20vw;
    }

    #walk-reviews-link {
        grid-column: 2 / span 4;
        grid-row: 4 / span 3;
    }

    #gripe-of-the-week-link {
        grid-column: 10 / span 4;
        grid-row: 12 / span 4;
    }

    .wavy-box {
        aspect-ratio: 2;
    }

}




